# Print Function

The `print()` function is commonly used for outputting text to the console.

In [ ]:
print("Hello World")

Hello World

Printing Statements with Escape Sequence `\n`	New Line, `\t`	Tab, `\b`	Backspace

In [ ]:
text = 'Hello Don,\nHow are you'
print(text)

Hello Don,
How are you

## Handling User input

In [ ]:
name = input('What is your name? ')
print('Hi '+ name)

What is your name? Don
Hi Don

#Variables and Data Types

Variables are used to store data. Python has various data types like integers, floats, strings, and booleans.

## Numeric Types

### int
Integer numbers (e.g., 5, -3)

In [ ]:
x = 5
print(type(x), x)

<class 'int'> 5

### float
Floating-point numbers (e.g., 3.14, -0.001)

In [ ]:
x = 3.14
print(type(x), x)

<class 'float'> 3.14

### complex
Complex numbers (e.g., 1 + 2j)

In [ ]:
x = 1 + 2j
print(type(x), x)

<class 'complex'> (1+2j)

## Sequence Types

### list
Ordered, mutable sequence (e.g., [1, 2, 3])

In [ ]:
x = [1, 2, 3]
print(type(x), x)

<class 'list'> [1, 2, 3]

### tuple
Ordered, immutable sequence (e.g., (1, 2, 3))

In [ ]:
x = (1, 2, 3)
print(type(x), x)

<class 'tuple'> (1, 2, 3)

### range
Immutable sequence of numbers (e.g., range(0, 10))

In [ ]:
x = range(0, 10)
print(type(x), list(x))

<class 'range'> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Text Type

### str
String (e.g., "hello", 'world')

In [ ]:
x = 'hello'
print(type(x), x)

<class 'str'> hello

## Mapping Type

### dict
Key-value mapping (e.g., {'key': 'value'})

In [ ]:
x = {'key': 'value'}
print(type(x), x)

<class 'dict'> {'key': 'value'}

## Set Types

### set
Unordered, mutable collection of unique elements (e.g., {1, 2, 3})

In [ ]:
x = {1, 2, 3}
print(type(x), x)

<class 'set'> {1, 2, 3}

### frozenset
Unordered, immutable collection of unique elements (e.g., frozenset([1, 2, 3]))

In [ ]:
x = frozenset([1, 2, 3])
print(type(x), x)

<class 'frozenset'> frozenset({1, 2, 3})

## Boolean Type

### bool
Boolean (e.g., True, False)

In [ ]:
x = True
print(type(x), x)

<class 'bool'> True

## None Type
Represents the absence of a value (None)

In [ ]:
x = None
print(type(x), x)

<class 'NoneType'> None

# Type Conversion
`int()`, `float()`, `str()`

In [ ]:
number_str = '123'
integer = int(number_str)  # 123
floating_point = float(number_str)  # 123.0
stringified = str(integer)  # '123'

# String Operations (Basic)

## 1. Concatenation
Joining two or more strings together.

In [ ]:
string1 = 'Hello'
string2 = 'World'
concatenated_string = string1 + ' ' + string2  # 'Hello World'

## 2. Repetition
Repeating a string multiple times.

In [ ]:
print("Hello World " * 3)

Hello World Hello World Hello World

## 3. Slicing
Extracting a portion of a string.

In [ ]:
course = 'Computer Science'
print(course[0:6])
print(course[5:])
print(course[:8])

Comput
ter Science
Computer

## 4. Indexing
Accessing individual characters of a string.

In [ ]:
course = 'Computer Science'
print(course[4])
print(course[-1])
print(course[-2])

u
e
c

# String Methods

## 1. Case Conversion
`upper()`, `lower()`, `capitalize()`

In [ ]:
string = 'python'
upper_case = string.upper()  # 'PYTHON'
lower_case = string.lower()  # 'python'
capitalized = string.capitalize()  # 'Python'

## 2. Searching
`find()`, `index()`, `count()`

In [ ]:
string = 'apple'
position = string.find('p')  # 1
index = string.index('p')  # 1
count = string.count('p')  # 2

## 3. Replacing
`replace()`, `swapcase()`

In [ ]:
string = 'apple'
replaced_string = string.replace('a', 'A')  # 'Apple'
swapped_string = string.swapcase()  # 'APPLE'

## 4. Trimming
`strip()`, `rstrip()`, `lstrip()`

In [ ]:
string = '  apple  '
stripped_string = string.strip()  # 'apple'
rstripped_string = string.rstrip()  # '  apple'
lstripped_string = string.lstrip()  # 'apple  '

## 5. Splitting & Joining
`split()`, `splitlines()`, `join()`

In [ ]:
string = 'apple,banana,orange'
split_string = string.split(',')  # ['apple', 'banana', 'orange']
joined_string = '-'.join(split_string)  # 'apple-banana-orange'

## 6. Formatting
`format()`, f-strings

In [ ]:
name = 'John'
formatted_string = 'Hello, {}'.format(name)  # 'Hello, John'
fstring_example = f'Hello, {name}'  # 'Hello, John'

## 7. Length
length of the string

In [ ]:
course = 'Computer Science'
print(len(course))

16

#Arithmetic Operations
Operators perform operations on variables. Python has arithmetic, comparison, and logical operators.

In [ ]:
print(10+3) #Addition
print(10-3) #Subtraction
print(10*3) #multiplication
print(10/3) #Division
print(10//3) #Integer Division
print(10%3)  #Modulus
print(20**4) #Exponent

13
7
30
3.3333333333333335
3
1
160000

In [ ]:
x=10
x+=1 #x=x+3 (Addition Assignment Operator)
print(x)

11

In [ ]:
x=10
x-=3 #x=x-3 (Subtraction Assignment Operator)
print(x)

7

## Math Functions

In [ ]:
print(round(2.4))
print(abs(-2.9))

2
2.9

## Conditional Statements
Conditional statements control the flow of your program. They include `if`, `elif`, and `else`.

In [ ]:
# 'in' keyword used to value in list
course = 'Computer Science'
print('z' in course)

False

In [ ]:
is_hot = False
is_cold = True
x = 5

if is_hot:
    print("It's a hot day. Drink plenty of water.")
elif x == 6:
    print("It's a cold day. Wear warm clothes.")
else:
    print("It's your lovely day.")

It's your lovely day.

## Logical Operator

In [ ]:
# Initialize some example variables
a = 10
b = 20
c = 10

# Using 'and' operator
result_and = (a == c) and (a < b)  # True AND True = True

# Using 'or' operator
result_or = (a == b) or (a == c)  # False OR True = True

# Using 'not' operator
result_not = not (a == b)  # NOT False = True

# Using '!=' operator
result_not_equal = a != b  # True because 10 is not equal to 20

# Using '==' operator
result_equal = a == c  # True because 10 is equal to 10

# Using '>' operator
result_greater = a > b  # False because 10 is not greater than 20

# Using '>=' operator
result_greater_equal = a >= c  # True because 10 is greater than or equal to 10

# Using '<' operator
result_less = a < b  # True because 10 is less than 20

# Using '<=' operator
result_less_equal = a <= c  # True because 10 is less than or equal to 10

result_and, result_or, result_not, result_not_equal, result_equal, result_greater, result_greater_equal, result_less, result_less_equal

(True, True, True, True, True, False, True, True, True)

## While Conditional Loops
Loops are used for repetitive tasks. Python has `for` and `while` loops.

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

## For Loops

In [ ]:
for item in 'Python':
  print(item)

P
y
t
h
o
n

In [ ]:
for item in ['Python','Java','Node']:
  print(item)

Python
Java
Node

In [ ]:
for item in range(5):
  print(item)

0
1
2
3
4

## Function
Functions encapsulate code into reusable blocks. They can have parameters and return values.

In [ ]:
def sum(a,b):
  c=a+b;
  return c
sum(10,2)

12